.sso__user-federation__dropdown {
  margin-top: var(--pf-global--spacer--lg);
}

.sso-admin--user-federation__gallery-item {
  display: contents;
}

.sso__user-federation__assign-role {
  display: flex;
  flex-direction: row;
  align-items: right;
}

.sso__user-federation__assign-role-btn {
  margin-left: 10px;
}